{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block extra_css %}

    <!-- jsvectormap css -->
    <link href="{% static 'libs/jsvectormap/dist/css/jsvectormap.min.css' %}" rel="stylesheet" type="text/css">

    <!--Swiper slider css-->
    <link href="{% static 'libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css">

{% endblock extra_css %}

{% block content %}
                        
{% endblock content %}

{% block extra_js %}

    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

    <!-- Vector map-->
    <script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js' %}"></script>
    <script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js' %}"></script>

    <script src="{% static 'libs/list.js/dist/list.min.js' %}"></script>

    <!--Swiper slider js-->
    <script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Dashboard init -->
    <script src="{% static 'js/pages/dashboard-ecommerce.init.js' %}"></script>

       

{% endblock extra_js %}

