{% load static %}
<!doctype html>
<html lang="en" {% block html %} data-bs-theme="light" data-footer="dark" {% endblock html %}>
<head>

    <meta charset="utf-8">
    <title>Order Success 2 Email Template | Toner eCommerce + Admin HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="eCommerce + Admin HTML Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    </head>

    <body>

        <section style="font-family: 'Poppins', sans-serif; box-sizing: border-box; font-size: 15px; width: 100%; background-color: transparent; margin: 35px 0;color: #06283D;">
            <div style="max-width: 650px;margin:auto; box-shadow: rgba(135, 138, 153, 0.10) 0 5px 20px -6px;border-radius: 6px;border: 1px solid #eef1f5;overflow: hidden;background-color: #fff;">
                <div style="padding: 1.5rem; display: flex;gap: 8px; align-items: center; justify-content: space-between;flex-wrap: wrap;">
                    <div>
                        <a href="{% url 'dashboard:dashboard' %}"><img src="{% static 'images/logo-dark.png' %}" alt="" height="24"></a>
                    </div>
                    <div style="display: flex;gap: 6px;">
                        <p style="margin-bottom: 0px; font-size: 14px;font-weight: 500;margin-top: 0px;"><span style="color: #878a99 !important;">Order ID:</span> HY45120010</p>
                        <p style="margin-bottom: 0px; font-size: 14px;font-weight: 500;margin-top: 0px;"><span style="color: #878a99 !important;">Date:</span> 01 Dec, 2022</p>
                    </div>
                </div>
                <div style="padding: 1.5rem; background-color: #438eff; text-align: center;">
                    <h6 style="font-size: 15px;font-weight: 500;margin-bottom: 12px;margin-top: 0px;line-height: 1.2;color: rgba(255, 255, 255, 0.80) !important;">Hello, Edward</h6>
                    <h5 style="font-size: 18px;font-family: 'Poppins', sans-serif;font-weight: 600;margin-bottom: 0px;margin-top: 0px;line-height: 1.2;color: #fff !important;">Your Order Confirmed!</h5>
                </div>
                <div style="padding: 1.5rem;">

                    <p style="color: #878a99 !important; margin-bottom: 20px;margin-top: 0px;">Your order has been Confirmed and will be shipping soon.</p>
                    
                    <h6 style="font-family: 'Poppins', sans-serif; font-size: 15px;font-weight: 600; text-decoration-line: underline;margin-bottom: 16px;margin-top: 20px;">Her'e what you ordered:</h6>
                    <table style="width: 100%;border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="padding: 12px 5px; vertical-align: top;width: 65px;">
                                <div style="border: 1px solid #eaeef4;height: 64px;width: 64px;display: flex; align-items: center;justify-content: center;border-radius: 6px;">
                                    <img src="{% static 'images/products/img-5.png' %}" alt="" height="38">
                                </div>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 500; font-family: 'Poppins', sans-serif;">Noise NoiseFit Endure Smart Watch</h6>
                                <p style="color: #878a99 !important; margin-bottom: 10px; font-size: 13px;font-weight: 500;margin-top: 6px;">Graphic Print Men & Women Sweatshirt</p>
                                <p style="color: #878a99 !important; margin-bottom: 0px; font-size: 13px;font-weight: 500;margin-top: 0;"><span>Color: Red</span> <span style="margin-left: 15px;">Size: 8 (US)</span></p>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 400; font-family: 'Poppins', sans-serif;">Qty 5</h6>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;text-align: end;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;">$599.99</h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 12px 5px; vertical-align: top;width: 65px;">
                                <div style="border: 1px solid #eaeef4;height: 64px;width: 64px;display: flex; align-items: center;justify-content: center;border-radius: 6px;">
                                    <img src="{% static 'images/products/img-6.png' %}" alt="" height="38">
                                </div>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 500; font-family: 'Poppins', sans-serif;">Striped High Neck Men Orange Sweater</h6>
                                <p style="color: #878a99 !important; margin-bottom: 10px; font-size: 13px;font-weight: 500;margin-top: 6px;">Graphic Print Men & Women Sweatshirt</p>
                                <p style="color: #878a99 !important; margin-bottom: 0px; font-size: 13px;font-weight: 500;margin-top: 0;"><span>Color: Orange</span> <span style="margin-left: 15px;">Size: M</span></p>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 400; font-family: 'Poppins', sans-serif;">Qty 1</h6>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;text-align: end;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;">$62.40</h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 12px 5px; vertical-align: top;width: 65px;">
                                <div style="border: 1px solid #eaeef4;height: 64px;width: 64px;display: flex; align-items: center;justify-content: center;border-radius: 6px;">
                                    <img src="{% static 'images/products/img-4.png' %}" alt="" height="38">
                                </div>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 500; font-family: 'Poppins', sans-serif;">Girls Mint Green Solid Open Flats</h6>
                                <p style="color: #878a99 !important; margin-bottom: 10px; font-size: 13px;font-weight: 500;margin-top: 6px;">Women Footwear</p>
                                <p style="color: #878a99 !important; margin-bottom: 0px; font-size: 13px;font-weight: 500;margin-top: 0;"><span>Color: Mint Green</span> <span style="margin-left: 15px;">Size: 10 (US)</span></p>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 400; font-family: 'Poppins', sans-serif;">Qty 3</h6>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;text-align: end;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;">$43.00</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;border-top: 1px solid #e9ebec;">
                                Subtotal
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; border-top: 1px solid #e9ebec;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;">$705.39</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;">
                                Shipping Charge
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; ">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;">$20.00</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;">
                                Taxs (18.00%)
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; ">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;">$126.97</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;">
                                Discount (Toner50)
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; ">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;">$50.00</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;border-top: 1px solid #e9ebec;">
                                Total Amount
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; border-top: 1px solid #e9ebec;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;">$802.36</h6>
                            </td>
                        </tr>
                    </table>
                    <p style="color: #878a99; margin-bottom: 20px;margin-top: 15px;">We'll send you shipping Confirmation when your item(s) are on the way! We appereciate your business, and hope you enjoy your purchase.</p>
                    <div style="text-align: right;">
                        <h6 style="font-size: 15px; margin: 0px;font-weight: 500;font-size: 17px; font-family: 'Poppins', sans-serif;">Thank you!</h6>
                        <p style="color: #878a99; margin-bottom: 0;margin-top: 8px;">Themesbrand</p>
                    </div>
                </div>
                <div style="padding: 1.5rem;background-color: #fafafa;">
                    <div style="text-align: center;">
                        <p style="color: #878a99; margin: 0;font-weight: 500;"><script>document.write(new Date().getFullYear())</script> © Toner.</p>
                    </div>
                </div>
            </div>
        </section>

        <section style="font-family: 'Poppins', sans-serif; box-sizing: border-box; font-size: 15px; width: 100%; background-color: transparent; margin: 35px 0;color: #fafafa;">
            <div style="max-width: 650px;margin:auto; box-shadow: rgba(135, 138, 153, 0.10) 0 5px 20px -6px;border-radius: 6px;overflow: hidden;background-color: #06283D;">
                <div style="padding: 1.5rem; display: flex;gap: 8px; align-items: center; justify-content: space-between;flex-wrap: wrap;">
                    <div>
                        <a href="{% url 'dashboard:dashboard' %}"><img src="{% static 'images/logo-light.png' %}" alt="" height="24"></a>
                    </div>
                    <div style="display: flex;gap: 6px;">
                        <p style="margin-bottom: 0px; font-size: 14px;font-weight: 500;margin-top: 0px;"><span style="color: #878a99 !important;">Order ID:</span> HY45120010</p>
                        <p style="margin-bottom: 0px; font-size: 14px;font-weight: 500;margin-top: 0px;"><span style="color: #878a99 !important;">Date:</span> 01 Dec, 2022</p>
                    </div>
                </div>
                <div style="padding: 1.5rem; background-color: #438eff; text-align: center;">
                    <h6 style="font-size: 15px;font-weight: 500;margin-bottom: 12px;margin-top: 0px;line-height: 1.2;color: rgba(255, 255, 255, 0.80) !important;">Hello, Edward</h6>
                    <h5 style="font-size: 18px;font-family: 'Poppins', sans-serif;font-weight: 600;margin-bottom: 0px;margin-top: 0px;line-height: 1.2;color: #fff !important;">Your Order Confirmed!</h5>
                </div>
                <div style="padding: 1.5rem;">
                    <p style="color: #878a99 !important; margin-bottom: 20px;margin-top: 0px;">Your order has been Confirmed and will be shipping soon.</p>
                    <table style="width: 100%;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="padding: 5px; vertical-align: top;">
                                <p style="color: #878a99 !important; margin-bottom: 12px; font-size: 13px; text-transform: uppercase;font-weight: 500;margin-top: 0px;">Order Date</p>
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">01 Jan, 2023</h6>
                            </td>
                            <td style="padding: 5px; vertical-align: top;">
                                <p style="color: #878a99 !important; margin-bottom: 12px; font-size: 13px; text-transform: uppercase;font-weight: 500;margin-top: 0px;">Order ID</p>
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">HY45120010</h6>
                            </td>
                            <td style="padding: 5px; vertical-align: top;">
                                <p style="color: #878a99 !important; margin-bottom: 12px; font-size: 13px; text-transform: uppercase;font-weight: 500;margin-top: 0px;">Payment</p>
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">Cash On Delivery</h6>
                            </td>
                            <td style="padding: 5px; vertical-align: top;">
                                <p style="color: #878a99 !important; margin-bottom: 12px; font-size: 13px; text-transform: uppercase;font-weight: 500;margin-top: 0px;">Address</p>
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">USA</h6>
                            </td>
                        </tr>
                    </table>
        
                    <h6 style="font-family: 'Poppins', sans-serif; font-size: 15px;font-weight: 600; text-decoration-line: underline;margin-bottom: 16px;margin-top: 20px;color: #fafafa;">Her'e what you ordered:</h6>
                    <table style="width: 100%;border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="padding: 12px 5px; vertical-align: top;width: 65px;">
                                <div style="border: 1px solid #ffffff14;height: 64px;width: 64px;display: flex; align-items: center;justify-content: center;border-radius: 6px;">
                                    <img src="{% static 'images/products/img-5.png' %}" alt="" height="38">
                                </div>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 500; font-family: 'Poppins', sans-serif;color: #fafafa;">Noise NoiseFit Endure Smart Watch</h6>
                                <p style="color: #878a99 !important; margin-bottom: 10px; font-size: 13px;font-weight: 500;margin-top: 6px;">Graphic Print Men & Women Sweatshirt</p>
                                <p style="color: #878a99 !important; margin-bottom: 0px; font-size: 13px;font-weight: 500;margin-top: 0;"><span>Color: Red</span> <span style="margin-left: 15px;">Size: 8 (US)</span></p>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 400; font-family: 'Poppins', sans-serif;color: #fafafa;">Qty 5</h6>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;text-align: end;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">$599.99</h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 12px 5px; vertical-align: top;width: 65px;">
                                <div style="border: 1px solid #ffffff14;height: 64px;width: 64px;display: flex; align-items: center;justify-content: center;border-radius: 6px;">
                                    <img src="{% static 'images/products/img-6.png' %}" alt="" height="38">
                                </div>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 500; font-family: 'Poppins', sans-serif;color: #fafafa;">Striped High Neck Men Orange Sweater</h6>
                                <p style="color: #878a99 !important; margin-bottom: 10px; font-size: 13px;font-weight: 500;margin-top: 6px;">Graphic Print Men & Women Sweatshirt</p>
                                <p style="color: #878a99 !important; margin-bottom: 0px; font-size: 13px;font-weight: 500;margin-top: 0;"><span>Color: Orange</span> <span style="margin-left: 15px;">Size: M</span></p>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 400; font-family: 'Poppins', sans-serif;color: #fafafa;">Qty 1</h6>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;text-align: end;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">$62.40</h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 12px 5px; vertical-align: top;width: 65px;">
                                <div style="border: 1px solid #ffffff14;height: 64px;width: 64px;display: flex; align-items: center;justify-content: center;border-radius: 6px;">
                                    <img src="{% static 'images/products/img-4.png' %}" alt="" height="38">
                                </div>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 500; font-family: 'Poppins', sans-serif;color: #fafafa;">Girls Mint Green Solid Open Flats</h6>
                                <p style="color: #878a99 !important; margin-bottom: 10px; font-size: 13px;font-weight: 500;margin-top: 6px;">Women Footwear</p>
                                <p style="color: #878a99 !important; margin-bottom: 0px; font-size: 13px;font-weight: 500;margin-top: 0;"><span>Color: Mint Green</span> <span style="margin-left: 15px;">Size: 10 (US)</span></p>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 400; font-family: 'Poppins', sans-serif;color: #fafafa;">Qty 3</h6>
                            </td>
                            <td style="padding: 12px 5px; vertical-align: top;text-align: end;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">$43.00</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;border-top: 1px solid #ffffff14;">
                                Subtotal
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; border-top: 1px solid #ffffff14;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">$705.39</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;">
                                Shipping Charge
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; ">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">$20.00</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;">
                                Taxs (18.00%)
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; ">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">$126.97</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;">
                                Discount (Toner50)
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; ">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">$50.00</h6>
                                </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 12px 8px; font-size: 15px;border-top: 1px solid #ffffff14;">
                                Total Amount
                            </td>
                            <td style="padding: 12px 8px; font-size: 15px;text-align: end; border-top: 1px solid #ffffff14;">
                                <h6 style="font-size: 15px; margin: 0px;font-weight: 600; font-family: 'Poppins', sans-serif;color: #fafafa;">$802.36</h6>
                            </td>
                        </tr>
                    </table>
                    <p style="color: #878a99 !important; margin-bottom: 20px;margin-top: 15px;">We'll send you shipping Confirmation when your item(s) are on the way! We appereciate your business, and hope you enjoy your purchase.</p>
                    <div style="text-align: right;">
                        <h6 style="font-size: 15px; margin: 0px;font-weight: 500;font-size: 17px; font-family: 'Poppins', sans-serif;color: #fafafa;">Thank you!</h6>
                        <p style="color: #878a99 !important; margin-bottom: 0;margin-top: 8px;">Themesbrand</p>
                    </div>
                </div>
                <div style="padding: 1.5rem;background-color: #0f3146;">
                    <div style="text-align: center;font-weight: 500;">
                        <p style="color: #878a99 !important; margin: 0;">
                            <script>document.write(new Date().getFullYear())</script> © Toner.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </body>

</html>