{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Sub Categories {% endblock title %}

{% block extra_css %}

    <!-- gridjs css -->
    <link rel="stylesheet" href="{% static 'libs/gridjs/dist/theme/mermaid.min.css' %}">

{% endblock extra_css %}

{% block content %}

    {% block pagetitle %}
    {% include "partials/page-title.html" with pagetitle="Products" title="Sub Categories"%}
    {% endblock pagetitle %}

                        <div class="row">
                            <div class="col-xxl-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title mb-0" id="addCategoryLabel">Create Sub Categories</h6>
                                    </div>
                                    <div class="card-body">
                                        <form autocomplete="off" class="needs-validation createCategory-form" id="createCategory-form" novalidate>
                                            <input type="hidden" id="categoryid-input" class="form-control" value="">
                                            <div class="row">
                                                <div class="col-xxl-12 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="SubcategoryTitle" class="form-label">Sub Category Title <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="SubcategoryTitle" placeholder="Enter title" required>
                                                        <div class="invalid-feedback">Please enter a sub category title.</div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-12 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="categorySelect" class="form-label">Category <span class="text-danger">*</span></label>
                                                        <select class="form-control" name="categorySelect" id="categorySelect">
                                                            <option value="">Select Category</option>
                                                            <option value="Headphone">Headphone</option>
                                                            <option value="Watch">Watch</option>
                                                            <option value="Furniture">Furniture</option>
                                                            <option value="Clothing">Clothing</option>
                                                            <option value="Footwear">Footwear</option>
                                                            <option value="Lighting">Lighting</option>
                                                            <option value="Beauty & Personal Care">Beauty & Personal Care</option>
                                                            <option value="Books">Books</option>
                                                            <option value="Other Accessories">Other Accessories</option>
                                                        </select>

                                                        <div class="error-msg mt-n3">Please select a category.</div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-12 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="descriptionInput" class="form-label">Description</label>
                                                        <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" required ></textarea>
                                                        <div class="invalid-feedback">Please enter a description.</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="text-end">
                                                        <button type="submit" id="addNewCategory" class="btn btn-success">Add Sub Category</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-9">
                                <div class="row justify-content-between mb-4">
                                    <div class="col-xxl-3 col-lg-6">
                                        <div class="search-box mb-3 mb-lg-0">
                                            <input type="text" class="form-control" id="searchResultList" autocomplete="off" placeholder="Search category & sub category...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-xxl-2 col-lg-6">
                                        <select class="form-control" data-choices data-choices-search-false name="choices-single-default" id="idStatus">
                                            <option value="">Status</option>
                                            <option value="all" selected>All</option>
                                            <option value="Today">Today</option>
                                            <option value="Yesterday">Yesterday</option>
                                            <option value="Last 7 Days">Last 7 Days</option>
                                            <option value="Last 30 Days">Last 30 Days</option>
                                            <option value="This Month">This Month</option>
                                            <option value="Last Month">Last Month</option>
                                        </select>
                                    </div><!--end col-->
                                </div><!--end row-->

                                <div class="card">
                                    <div class="card-body">
                                        <div id="product-sub-categories" class="table-card"></div>

                                        <!-- <div class="table-responsive table-card">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Sub Category</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Create By</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">#TBSC2830</th>
                                                        <td>Wireless</td>
                                                        <td>Headphone</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2831</th>
                                                        <td>Leather Shoes</td>
                                                        <td>Footwear</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2832</th>
                                                        <td>Bags</td>
                                                        <td>Other Accessories</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2833</th>
                                                        <td>Cabinets</td>
                                                        <td>Furniture</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2834</th>
                                                        <td>Digital Watches</td>
                                                        <td>Watch</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2835</th>
                                                        <td>Supra-aural (on-ear)</td>
                                                        <td>Headphone</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2836</th>
                                                        <td>Sportswear</td>
                                                        <td>Clothing</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2837</th>
                                                        <td>Casual Wear</td>
                                                        <td>Clothing</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2838</th>
                                                        <td>Ambient</td>
                                                        <td>Lighting</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2839</th>
                                                        <td>Chairs & Seating</td>
                                                        <td>Furniture</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2840</th>
                                                        <td>Feminine Care</td>
                                                        <td>Beauty & Personal Care</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">#TBSC2841</th>
                                                        <td>Horror</td>
                                                        <td>Books</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <ul class="hstack gap-2 list-unstyled mb-0">
                                                                <li>
                                                                    <a href="#!" class="badge badge-soft-success">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#removeItemModal" data-bs-toggle="modal" class="badge badge-soft-danger">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4">
                                            <div class="flex-shrink-0">
                                                <div class="text-muted">
                                                    Showing <span class="fw-semibold">12</span> of <span class="fw-semibold">25</span> Results
                                                </div>
                                            </div>
                                            <ul class="pagination pagination-separated pagination-sm mb-0">
                                                <li class="page-item disabled">
                                                    <a href="#" class="page-link">←</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link">1</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a href="#" class="page-link">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link">→</a>
                                                </li>
                                            </ul>
                                        </div> -->
                                    
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
{% endblock content %}
          
{% block extra_content %}

        <!-- removeItemModal -->
        <div id="removeItemModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" id="close-removecategoryModal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-md-5">
                        <div class="text-center">
                            <div class="text-danger">
                                <i class="bi bi-trash display-4"></i>
                            </div>
                            <div class="mt-4 fs-15">
                                <h4 class="mb-1">Are you sure ?</h4>
                                <p class="text-muted mx-3 fs-16 mb-0">Are you sure you want to remove this sub category ?</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light btn-hover" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn w-sm btn-danger btn-hover" id="remove-category">Yes, Delete It!</button>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

{% endblock extra_content %}

{% block extra_js %}

    <!-- gridjs js -->
    <script src="{% static 'libs/gridjs/dist/gridjs.umd.js' %}"></script>

    <!-- product-sub-categories js -->
    <script src="{% static 'js/backend/product-sub-categories.init.js' %}"></script>

{% endblock extra_js %}
 