{% extends "partials/base.html" %}
{% load static %}
{% block title %} Privacy Policy {% endblock title %}

{% block content %}

        <section class="term-condition bg-primary">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center">
                            <h1 class="text-white mb-2">Privacy Policy</h1>
                            <p class="text-white-75 mb-0">This Privacy policy was published on November 24<sup>th</sup>, 2022.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>

        <div class="position-relative">
            <div class="svg-shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="120" preserveAspectRatio="none" viewBox="0 0 1440 120">
                    <g mask="url(&quot;#SvgjsMask1039&quot;)" fill="none">
                        <rect width="1440" height="120" x="0" y="0" fill="var(--tb-primary)"></rect>
                        <path d="M 0,85 C 288,68.8 1152,20.2 1440,4L1440 120L0 120z" fill="var(--tb-body-bg)"></path>
                    </g>
                    <defs>
                        <mask id="SvgjsMask1039">
                            <rect width="1440" height="120" fill="#ffffff"></rect>
                        </mask>
                    </defs>
                </svg>
            </div>
        </div>

        <section class="section pt-0">
            <div class="container">
                <div class="card term-card mb-0">
                    <div class="card-body p-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="fs-18 mb-3">Introduction</h5>
                                <div class="d-flex gap-2 mb-2">
                                    <div class="flex-shrink-0">
                                        <i class="ri-flashlight-fill text-primary fs-15"></i>
                                    </div>
                                    <p class="text-muted fs-15 flex-grow-1 mb-0">Generally, we may collect and use personal information for many purposes, including, but not limited to: billing, product and service fulfillment, understanding customer needs, providing a better website, improving products and services, and communicating with customers and potential customers regarding our products and services with third-party products and services.</p>
                                </div>
                                <div class="d-flex gap-2 mb-2">
                                    <div class="flex-shrink-0">
                                        <i class="ri-flashlight-fill text-primary fs-15"></i>
                                    </div>
                                    <p class="text-muted fs-15 flex-grow-1 mb-0">Clients on Demand, LLC is committed to protecting both the personal as well as business information you share and/or store with us.</p>
                                </div>
                                <div class="d-flex gap-2 mb-2">
                                    <div class="flex-shrink-0">
                                        <i class="ri-flashlight-fill text-primary fs-15"></i>
                                    </div>
                                    <p class="text-muted fs-15 flex-grow-1 mb-0">This Privacy Policy applies to transactions and activities and data gathered through the Clients on Demand Website and interaction you may have with its related Social Media accounts. Please review this Privacy Policy periodically as we may revise it without notice.</p>
                                </div>

                                <h5 class="fs-18 my-3">Shipping Agreement</h5>
                                <div class="d-flex gap-2 mb-2">
                                    <div class="flex-shrink-0">
                                        <i class="ri-flashlight-fill text-primary fs-15"></i>
                                    </div>
                                    <p class="text-muted fs-15 flex-grow-1 mb-0">We may share information about our audience in aggregate or de-identified form. Nothing in this Privacy Policy is intended to indicate a restriction of our use or sharing of aggregated or de-identified information in any way.</p>
                                </div>

                                <h5 class="fs-18 my-3">Refund Policy</h5>
                                <div class="d-flex gap-2 mb-2">
                                    <div class="flex-shrink-0">
                                        <i class="ri-flashlight-fill text-primary fs-15"></i>
                                    </div>
                                    <p class="text-muted fs-15 flex-grow-1 mb-0">The information we collect is used for a variety of purposes, such as:</p>
                                </div>
                                <ul class="text-muted vstack gap-2 fs-15 ps-5" style="list-style-type: circle;">
                                    <li>
                                        to enable your use of our services and fulfill your requests for certain features, such as enabling you to participate in and renew paid services, polls, and message boards
                                    </li>
                                    <li>
                                        by performing statistical, demographic and marketing analyses of users of our services to improve our relationship with our customers
                                    </li>
                                    <li>
                                        for product development purposes and to generally inform advertisers about the nature of our subscriber base to improve our relationship with our customers
                                    </li>
                                    <li>
                                        to customize your experience by allowing advertising to be targeted to the users for whom such advertising is most pertinent
                                    </li>
                                </ul>

                                <h5 class="fs-18 my-3">Use Of Cookies</h5>
                                <div class="d-flex gap-2 mb-2">
                                    <div class="flex-shrink-0">
                                        <i class="ri-flashlight-fill text-primary fs-15"></i>
                                    </div>
                                    <p class="text-muted fs-15 flex-grow-1 mb-0">We use “cookies,” Web beacons, HTML5 local storage, and other similar technologies. These technologies allow us to manage access to and use of the Services, recognize you and provide personalization, and help us understand how people use our Services. You may not be able to access certain areas of our websites, including ClientsonDemand.com, if your computer does not accept cookies from us.</p>
                                </div>
                                <div class="d-flex gap-2 mb-2">
                                    <div class="flex-shrink-0">
                                        <i class="ri-flashlight-fill text-primary fs-15"></i>
                                    </div>
                                    <p class="text-muted fs-15 flex-grow-1 mb-0">We do not respond to browser-based “do not track” signals.</p>
                                </div>
                                <div class="d-flex gap-2 mb-2">
                                    <div class="flex-shrink-0">
                                        <i class="ri-flashlight-fill text-primary fs-15"></i>
                                    </div>
                                    <p class="text-muted fs-15 flex-grow-1 mb-0">We may transmit non-personally identifiable website usage information to third parties in order to show you advertising for Clients on Demand when you visit other sites.</p>
                                </div>

                                <h5 class="fs-18 my-3">Disclaimer</h5>
                                <div class="d-flex gap-2 mb-2">
                                    <div class="flex-shrink-0">
                                        <i class="ri-flashlight-fill text-primary fs-15"></i>
                                    </div>
                                    <p class="text-muted fs-15 flex-grow-1 mb-0">This Privacy Policy may be amended by us at any time and without notice, but only by amending this Policy as posted on this Website. Any amendments will become effective 30 days after being posted on the website unless circumstances require that a change is immediately implemented.</p>
                                </div>

                                <div class="alert alert-danger">
                                    No use of Company Name's logo or other artwork will be allowed for linking absent a trademark license agreement.
                                </div>

                                <div class="hstack justify-content-end gap-2 mt-4">
                                    <a href="#!" class="btn btn-ghost-danger btn-hover"><i class="ri-close-line align-bottom me-1"></i> Decline</a>
                                    <a href="#!" class="btn btn-success btn-hover">Accept Now</a>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>
                </div><!--end card-->
            </div><!--end conatiner-->
        </section>

        <section class="section bg-light bg-opacity-25" style="background-image: url({% static 'images/ecommerce/bg-effect.png' %});background-position: center; background-size: cover;">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <div>
                            <p class="fs-15 text-uppercase fw-medium"><span class="fw-semibold text-danger">25% Up to</span> off all Products</p>
                            <h1 class="lh-base text-capitalize mb-3">Stay home & get your daily needs from our shop</h1>
                            <p class="fs-15 mb-4 pb-2">Start You'r Daily Shopping with <a href="#!" class="link-primary text-decoration-underline fw-medium">Toner</a></p>
                            <form action="#!">
                                <div class="position-relative ecommerce-subscript">
                                    <input type="email" class="form-control rounded-pill" placeholder="Enter your email">
                                    <button type="submit" class="btn btn-primary btn-hover rounded-pill">Subscript Now</button>
                                </div>
                            </form>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-4">
                        <div class="mt-4 mt-lg-0">
                            <img src="{% static 'images/ecommerce/subscribe.png' %}" alt="" class="img-fluid">
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>

        <section class="position-relative py-5">
            <div class="container">
                <div class="row gy-4 gy-lg-0">
                    <div class="col-lg-3 col-sm-6">
                        <div class="d-flex align-items-center gap-3">
                            <div class="flex-shrink-0">
                                <img src="{% static 'images/ecommerce/fast-delivery.png' %}" alt="" class="avatar-sm">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="fs-15">Fast &amp; Secure Delivery</h5>
                                <p class="text-muted mb-0">Tell about your service.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-3 col-sm-6">
                        <div class="d-flex align-items-center gap-3">
                            <div class="flex-shrink-0">
                                <img src="{% static 'images/ecommerce/returns.png' %}" alt="" class="avatar-sm">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="fs-15">2 Days Return Policy</h5>
                                <p class="text-muted mb-0">No question ask.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-3 col-sm-6">
                        <div class="d-flex align-items-center gap-3">
                            <div class="flex-shrink-0">
                                <img src="{% static 'images/ecommerce/guarantee-certificate.png' %}" alt="" class="avatar-sm">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="fs-15">Money Back Guarantee</h5>
                                <p class="text-muted mb-0">Within 5 business days</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-3 col-sm-6">
                        <div class="d-flex align-items-center gap-3">
                            <div class="flex-shrink-0">
                                <img src="{% static 'images/ecommerce/24-hours-support.png' %}" alt="" class="avatar-sm">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="fs-15">24 X 7 Service</h5>
                                <p class="text-muted mb-0">Online service for customer</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end conatiner-->
        </section>

{% endblock content %}

{% block extra_js %}

    <!-- landing-index js -->
    <script src="{% static 'js/frontend/menu.init.js' %}"></script>

{% endblock extra_js%}
