{% load static %}
{% block sidebar %}

<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="{% url 'menu:dashboard' %}" class="logo logo-dark">
            <span class="logo-sm">
                <img src="{% static 'images/logo-sm.png' %}" alt="" height="26">
            </span>
            <span class="logo-lg">
                <img src="{% static 'images/logo-dark.png' %}" alt="" height="26">
            </span>
        </a>
        <a href="{% url 'menu:dashboard' %}" class="logo logo-light">
            <span class="logo-sm">
                <img src="{% static 'images/logo-sm.png' %}" alt="" height="24">
            </span>
            <span class="logo-lg">
                <img src="{% static 'images/logo-light.png' %}" alt="" height="24">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a href="{% url 'menu:dashboard' %}" class="nav-link menu-link"> <i class="bi bi-speedometer2"></i> <span data-key="t-dashboard">Dashboard</span> <span class="badge badge-pill bg-danger-subtle text-danger" data-key="t-hot">Hot</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarProducts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarProducts">
                        <i class="bi bi-box-seam"></i> <span data-key="t-products">Products</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarProducts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-list-view">List View</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-grid-view">Grid View</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-overview">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-create-product">Create Product</a>
                            </li>
                            <li class="nav-item">       
                                <a href="#" class="nav-link" data-key="t-categories">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-sub-categories">Sub Categories</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarOrders" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarOrders">
                        <i class="bi bi-cart4"></i> <span data-key="t-orders">Orders</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarOrders">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-list-view">List View</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-overview">Overview</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link menu-link"><i class="bi bi-calendar-week"></i> <span data-key="t-calendar">Calendar</span> </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarSellers" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSellers">
                        <i class="bi bi-binoculars"></i> <span data-key="t-sellers">Sellers</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarSellers">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-list-view">List View</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-grid-view">Grid View</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-overview">Overview</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarInvoice" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarInvoice">
                        <i class="bi bi-archive"></i> <span data-key="t-invoice">Invoice</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarInvoice">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-list-view">List View</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-overview">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-create-invoice">Create Invoice</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link menu-link"> <i class="bi bi-person-bounding-box"></i> <span data-key="t-users-list">Users List</span> </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarShipping" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarShipping">
                        <i class="bi bi-truck"></i> <span data-key="t-shipping">Shipping</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarShipping">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-shipping-list">Shipping List</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-shipments">Shipments</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link menu-link"> <i class="bi bi-tag"></i> <span data-key="t-coupons">Coupons</span> </a>
                </li>   
                <li class="nav-item">
                    <a href="#" class="nav-link menu-link"><i class="bi bi-star"></i> <span data-key="t-reviews-ratings">Reviews & Ratings</span></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link menu-link"><i class="bi bi-shop"></i> <span data-key="t-brands">Brands</span> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link menu-link"><i class="bi bi-pie-chart"></i> <span data-key="t-statistics">Statistics</span> </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLocalization" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLocalization">
                        <i class="bi bi-coin"></i> <span data-key="t-localization">Localization</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLocalization">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-transactions">Transactions</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-currency-rates">Currency Rates</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarAccounts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAccounts">
                        <i class="bi bi-person-circle"></i> <span data-key="t-accounts">Accounts</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarAccounts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-my-account">My Account</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-settings">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:signup' %}" class="nav-link" data-key="t-sign-up">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:signin' %}" class="nav-link" data-key="t-sign-in">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:password_reset' %}" class="nav-link" data-key="t-passowrd-reset">Password Reset</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:password_change' %}" class="nav-link" data-key="t-create-password">Password Create</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:success_msg' %}" class="nav-link" data-key="t-success-message">Success Message</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:twostep_verification' %}" class="nav-link" data-key="t-two-step-verify">Two Step Verify</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:logout' %}" class="nav-link" data-key="t-logout">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:error404' %}" class="nav-link" data-key="t-error-404">Error 404</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:error500' %}" class="nav-link" data-key="t-error-500">Error 500</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'myaccounts:coming_soon' %}" class="nav-link" data-key="t-coming-soon">Coming Soon</a>
                            </li>
                        </ul>
                    </div>
                </li>

               
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarMultilevel" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMultilevel">
                        <i class="bi bi-share"></i> <span data-key="t-multi-level">Multi Level</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarMultilevel">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-level-1.1"> Level 1.1 </a>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarAccount" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAccount" data-key="t-level-1.2"> Level
                                    1.2
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarAccount">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" data-key="t-level-2.1"> Level 2.1 </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#sidebarCrm" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCrm" data-key="t-level-2.2"> Level 2.2
                                            </a>
                                            <div class="collapse menu-dropdown" id="sidebarCrm">
                                                <ul class="nav nav-sm flex-column">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link" data-key="t-level-3.1"> Level 3.1
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link" data-key="t-level-3.2"> Level 3.2
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>

{% endblock sidebar %}