{% load static %}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock title %} | Toner eCommerce + Admin HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="eCommerce + Admin HTML Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    {% block css %}
    {% block extra_css %}
    {% endblock extra_css %}

    <!-- Layout config Js -->
    <script src="{% static 'js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" type="text/css">
    
    {% endblock css %}

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        {% block top_tagbar %}
        {% include "partials/top-tagbar.html" %}
        {% endblock top_tagbar %}

        {% block header %}
        {% include "partials/topbar.html" %}
        {% endblock header %}

        {% block sidebar %}
        {% include "partials/sidebar.html" %}
        {% endblock sidebar %}

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    {% block content %}
                    {% endblock content %}

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

        {% block extra_content %}
        {% endblock extra_content %}


    {% block customize %}
    {% include "partials/customizer.html" %}
    {% endblock customize %}

    
    {% block javascript %}

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>

        {% block extra_js %}
        {% endblock extra_js %}


        <!-- App js -->
        <script src="{% static 'js/app.js' %}"></script>
       
    {% endblock javascript %}


</body> 